/* ----- GENERAL  ----- */
@font-face {
    font-family: 'Title';
    src: url('fonts/Slackey.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Subtitle';
    src: url('fonts/McLaren-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-family: 'Title', Arial, sans-serif;
    text-shadow: 2px 2px #122b4e;
    color: #1d3f72;
}
h2, h3, h4, h5 {
    font-family: 'Subtitle', Arial, sans-serif;
    color: #1d3f72;
}

p {
    font-family: 'Subtitle', Arial, sans-serif;
}


