<!-- ----- FOOTER ----- -->
    <footer class="dreamworks-footer">
        <div class="container-lg">
            <div class="row">
                <!-- Logo and Description -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="footer-brand">
                        <img src="../images/main/dreamworks-logo.png" alt="DreamWorks Logo" class="footer-logo">
                        <p class="footer-description">
                            Where stories come to life and imagination knows no bounds. 
                            Join our community of DreamWorks fans!
                        </p>
                    </div>
                </div>

                <!-- Quick Links -->
                <div class="col-lg-2 col-md-6 mb-4">
                    <h5 class="footer-heading">Quick Links</h5>
                    <ul class="footer-links">
                        <li><a href="../homepage/index.html">Home</a></li>
                        <li><a href="../aboutpage/about.html">About Us</a></li>
                        <li><a href="../contactpage/contact.html">Contact Us</a></li>
                        <li><a href="../taskspage/tasks.html">Discussions</a></li>
                    </ul>
                </div>

                <!-- Movies -->
                <div class="col-lg-3 col-md-6 mb-4">
                    <h5 class="footer-heading">Popular Movies</h5>
                    <ul class="footer-links">
                        <li><a href="https://www.imdb.com/list/ls020739443/" target="_blank">Madagascar Series</a></li>
                        <li><a href="https://www.imdb.com/list/ls041070883/" target="_blank">Shrek Series</a></li>
                        <li><a href="https://www.imdb.com/list/ls522516169/" target="_blank">Kung Fu Panda Series</a></li>
                        <li><a href="https://www.imdb.com/list/ls059906778/" target="_blank">How to Train Your Dragon Series</a></li>
                    </ul>
                </div>

                <!-- Social Media -->
                <div class="col-lg-3 col-md-6 mb-4">
                    <h5 class="footer-heading">Follow Us</h5>
                    <div class="social-links">
                        <a href="https://www.facebook.com/dreamworks/" class="social-link" target="_blank">📘 Facebook</a>
                        <a href="https://www.instagram.com/dreamworks/?hl=en" class="social-link" target="_blank">📷 Instagram</a>
                        <a href="https://x.com/Dreamworks?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="social-link" target="_blank">🐦 Twitter</a>
                        <a href="https://www.youtube.com/channel/UCia2_wzvSZrQBzbopXT1Fcg" class="social-link" target="_blank">🎬 YouTube</a>
                    </div>
                </div>
            </div>

            <!-- Copyright -->
            <div class="footer-bottom">
                <hr class="footer-divider">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <p class="copyright">&copy; 2024 DreamWorks Discussion Hub. All rights reserved.</p>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <a href="https://www.dreamworks.com/privacy-policy" class="footer-link" target="_blank">Privacy Policy</a>
                        <a href="https://www.dreamworks.com/terms-of-use" class="footer-link" target="_blank">Terms of Use</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>